#admin-table {
  background-color: white;
}

#admin-table .tables table {
  margin-top: 5rem;
}

#admin-table thead {
  background-color: var(--grey);
}

#admin-table th {
  padding: 1rem;
  border-bottom-color: var(--brownish-grey);
  font-weight: 400;
  padding-left: 1.3rem;
}

#admin-table td {
  padding: 1.4rem;
  border-bottom-color: var(--dark-grey);
  color: var(--dark-grey);
}

#admin-table #action {
  padding-left: 2.3rem;
}

#admin-table .page-item {
  margin: 0.5rem;
}

#admin-table .page-link {
  color: #505050;
  border-radius: 5px;
  width: 2.5rem;
  text-align: center;
  border-color: #707070;
}

#admin-table .page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(79, 79, 79, 0.281);
}

#admin-table .actions-td {
  min-width: 10rem;
}

#admin-table td img {
  width: 5rem;
}

.admin-table .truncate {
  max-width: 10rem;
}

.admin-table table {
  margin-top: 0;
}
