body {
    font-family: 'Josefin Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  }
  :root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 69px;
  }
  .sidebar-nav {
    width: var(--offcanvas-width);
  }
  .sidebar-link {
    display: flex;
    align-items: center;
  }
  .sidebar-link .right-icon {
    display: inline-flex;
  }
  .sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
  }
  @media (min-width: 992px) {
    body {
      overflow: auto !important;
    }
    main {
      margin-left: var(--offcanvas-width);
    }
    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
      display: none;
    }
    .sidebar-nav {
      -webkit-transform: none;
      transform: none;
      visibility: visible !important;
      height: calc(100% - var(--topNavbarHeight));
      top: var(--topNavbarHeight);
    }
  }
  /* ///////////////////////////////////////////// */
  .logooimg{
    max-height: 43px;
    border-radius: 50%;
  }
  /* ///////////////////////////////////////////// */
  .navbar{
    background-color: #0E63F4;
  
  }
  .offcanvas{
    background-color: #0E63F4;
  }
  @media only screen and (min-width:991px){
    .collapse{
      padding-left: 70px !important;
    }
    .collapse form{
      margin-left: 70px !important;
    }
  }
  input[type="search"]{
    border-radius: 10px;
  }
  nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);
   padding-left: 20px !important;
  }
  
  
  /* ///////////////////////////////////////////// */
  /* ///////////////////////////////////////////// */
  /* ///////////////////////////////////////////// */
  /* ///////////////////////////////////////////// */
  
  
  .navbar-nav a{
    font-size: 20px;
  }
  .navbar-nav .logout{
    margin-top: 210px;
  }
  
  main{
    background-color: #F7F9FE;
    margin-bottom: 25px;
  }
  
  .condoctor{
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px 10px 10px 10px;
    padding-top: 20px;
    text-align: center;
    margin: 20px 0px;
  }
  
  .condoctor img{
    border-radius: 100%;
    /* clip-path: circle(); */
  }
  .condoctor i{
    color: #FFDF00;
    font-size: 20px;
  transition:all 2s;
  }
  .condoctor:hover{
    box-shadow: -3px 6px 10px grey;
  
  }
  .condoctor p{
    font-size: 14px;
  }
  /* ////////////////////////////// */
  .divform{
    background-color: #F7F9FE;
    box-shadow: -3px 6px 6px grey;
    margin-bottom: 20px;
  }
.imgformm img{
    max-width: 90%;
}
.headername h5{
    color: #122F53;
}
.headername p{
     font-size: 13px;
 }
 .formabout p{
    font-size: 13px;

 }
 .formabout .fa-solid{
    color: #122F53;
    font-size: 20px;
 }
 .divwatch{
     background-color: #FFFFFF;
     padding: 12px 15px;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
     border-radius: 5px;
 }  
 .divwatch span{
     color: #122F53;
 }
 .formbuuton button{
     width: 80%;
     padding: 10px 20px;
     font-weight: bold;
     background-color: #0E63F4;
     color: #F7F9FE !important;
 }
      