body {
    font-family: 'Josefin Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  }
  :root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 69px;
  }
  .sidebar-nav {
    width: var(--offcanvas-width);
  }
  .sidebar-link {
    display: flex;
    align-items: center;
  }
  .sidebar-link .right-icon {
    display: inline-flex;
  }
  .sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
  }
  @media (min-width: 992px) {
    body {
      overflow: auto !important;
    }
    main {
      margin-left: var(--offcanvas-width);
    }
    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
      display: none;
    }
    .sidebar-nav {
      -webkit-transform: none;
      transform: none;
      visibility: visible !important;
      height: calc(100% - var(--topNavbarHeight));
      top: var(--topNavbarHeight);
    }
  }
  /* ///////////////////////////////////////////// */
  .logooimg{
    max-height: 43px;
    border-radius: 50%;
  }
  /* ///////////////////////////////////////////// */
  .navbar{
    background-color: #0E63F4;
  
  }
  .offcanvas{
    background-color: #0E63F4;
  }
  @media only screen and (min-width:991px){
    .collapse{
      padding-left: 70px !important;
    }
    .collapse form{
      margin-left: 70px !important;
    }
  }
  input[type="search"]{
    border-radius: 10px;
  }
  nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);
   padding-left: 20px !important;
  }
  
  
  /* ///////////////////////////////////////////// */
  /* ///////////////////////////////////////////// */
  /* ///////////////////////////////////////////// */
  /* ///////////////////////////////////////////// */
  
  
  .navbar-nav a{
    font-size: 20px;
  }
  .navbar-nav .logout{
    margin-top: 210px;
  }
  
  main{
    background-color: #F7F9FE;
    margin-bottom: 25px;
  }
  
  .condoctor{
    background-color: #FFFFFF;
    width: 100%;
    padding: 0px 10px 10px 10px;
    padding-top: 20px;
    text-align: center;
    margin: 20px 0px;
  }
  
  .condoctor img{
    border-radius: 100%;
    clip-path: circle();
  }
  .condoctor i{
    color: #FFDF00;
    font-size: 20px;
  transition:all 2s;
  }
  .condoctor:hover{
    box-shadow: -3px 6px 10px grey;
  
  }
  .condoctor p{
    font-size: 14px;
  }
  /* ////////////////////////////// */
  .divform{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px grey;
    padding-bottom: 70px !important;
    border-radius: 10px;
  }
  .labeldate{
    font-size: 18px;
    /* font-weight: bold; */
    margin-bottom: 8px !important;
  }
  .btnradio .btn{
    box-shadow: none !important;
  }
  
  
  
  .btn-outline-primary{
    color: #1D2B4F;
    border-color: #F7F9FE;
    background: #F7F9FE;
    font-size: 17px;
    padding: 7px 15px;
    margin: 0px 3px;
  }
  input[type="date"] {
  background-color: #F7F9FE !important;
  }
  input[type="time"]{
  background-color: #F7F9FE !important;
  
  }
  
  .formheader{
    font-weight: 600;
  }
  .btnbtn button{
    width: 80%;
    margin: auto;
  }
  
  .locationselect{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background: #F7F9FE !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    outline: none;
  }
  
  
  
      
      